{% extends 'layouts/app.html' %}

{% block content %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header"><i class="fa fa-dashboard fa-fw"></i> Dashboard</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-sitemap fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">{% if stats|length > 0 %}  {{ stats[0][0] }} {% else %} 0 {% endif %}</div>
                                <div>New Synsets</div>
                            </div>
                        </div>
                    </div>
                    <a href="{{ url_for('user.users_activity') }}">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-refresh fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">{% if stats|length > 0 %}  {{ stats[0][1] }} {% else %} 0 {% endif %}</div>
                                <div>New Synset Relations</div>
                            </div>
                        </div>
                    </div>
                    <a href="{{ url_for('user.users_activity') }}">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-object-group fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">{% if stats|length > 0 %}  {{ stats[0][2] }} {% else %} 0 {% endif %}</div>
                                <div>New Senses</div>
                            </div>
                        </div>
                    </div>
                    <a href="{{ url_for('user.users_activity') }}">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-red">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-retweet fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">{% if stats|length > 0 %}  {{ stats[0][3] }} {% else %} 0 {% endif %}</div>
                                <div>New Sense Relations</div>
                            </div>
                        </div>
                    </div>
                    <a href="{{ url_for('user.users_activity') }}">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i><span id="chart-activity-name">Today's Users Activity</span>
                        <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Actions
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a id="show-today" href="#" onclick="user_activity_now('');">Show today</a>
                                        </li>
                                        <li><a id="show-yesterday" href="#" onclick="user_activity_yesterday();">Show yesterday</a>
                                        </li>
                                        <li><a id="show-by-date" href="#" data-toggle="modal" data-target=".bs-activity-modal-sm">Show at specified date</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                    </div>
                    <div class="panel-body">
                        <div class=row">
                            <h5 id="d_ylabel-axis" class="rotate">Number of operations</h5>
                            <div class="col-sm-12 text-center">
                                <div id="user-activity-today"  user-data=""></div>
                                <h5 id="d_xlabel-axis">Hour</h5>
                                <div id="no-user-activity"><h4>No user activity found</h4></div>
                                <img id="user-activity-today-spinner" src="{{ url_for('static', filename='images/spinner.gif') }}"
                                     class="spinner"
                                     width="16" height="11" alt="Spinner"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade bs-activity-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Select Date</h4>
                </div>
                <div class="modal-body">
                     <div class="input-group input-group-sm date" id='date_from'>
                        <input id="activity_date" name="activity_date" type="text" class="form-control"
                               placeholder="Select Date" value="">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                   <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal" onclick="user_activity_by_date()"> Ok </button>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function(){
            user_activity_now('');
        });
    </script>
{% endblock %}
