{% extends 'layouts/app.html' %}

{% block content %}
   <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header"><i class="fa fa-dashboard fa-fw"></i> Dashboard</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-sitemap fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{%  if stats[0] =='' %}  {{  stats[0] }} {% else %} 0 {% endif %}</div>
                                    <div>New Synsets Today!</div>
                                </div>
                            </div>
                        </div>
                        <a href="{{ url_for('user.users_activity') }}">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-refresh fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{%  if stats[1] =='' %}  {{  stats[1] }} {% else %} 0 {% endif %} </div>
                                    <div>New Synset Relations Today!</div>
                                </div>
                            </div>
                        </div>
                        <a href="{{ url_for('user.users_activity') }}">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-object-group fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{%  if stats[2] =='' %}  {{  stats[2] }} {% else %} 0 {% endif %}</div>
                                    <div>New Senses Today!</div>
                                </div>
                            </div>
                        </div>
                        <a href="{{ url_for('user.users_activity') }}">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-retweet fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{%  if stats[3] =='' %}  {{  stats[3] }} {% else %} 0 {% endif %}</div>
                                    <div>Sense Relations Today!</div>
                                </div>
                            </div>
                        </div>
                        <a href="{{ url_for('user.users_activity') }}">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Today's Users Activity
                        </div>
                        <div class="panel-body">
                            <div class=row">
                                <div class="col-sm-12 text-center">
                                    <div id="user-activity-today"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <script>
    $.ajax({
        type: 'GET',
        url: '/api/users/activity',
        dataType: "json",
        async: true,
        contentType: "application/json; charset=utf-8",
        success: function(json){
            Morris.Line($.parseJSON(json))
        }
    })
    </script>
{% endblock %}
