{% extends 'layouts/app.html' %}
{% import 'macros/items.html' as items %}
{% import 'macros/form.html' as f with context %}

{% block title %}Synset History{% endblock %}

{% block content %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="page-header"><i class="fa fa-sitemap fa-fw"></i> Synset History</h3>
            </div>
        </div>
        <div class="row margin-bottom-15">
            <div class="col-sm-12">
                {% call f.form_tag('synset.synsets_history', css_class='form-inline', method='get') %}

                    <div class="input-group input-group-sm date" id='date_from'>
                        <input id="date_from" name="date_from" type="text" class="form-control"
                               placeholder="Changes From" value="{{ request.args.get('date_from', '') }}">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                    </div>
                    <div class="input-group input-group-sm date" id='date_to'>
                        <input id="date_to" name="date_to" type="text" class="form-control" placeholder="Changes To"
                               value="{{ request.args.get('date_to', '') }}">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <select class="form-control" id="users" name="user">
                            <option value=""  {% if request.args.get('user', '') == '' %}selected{% endif %}>Select User</option>
                            {% for u in users %}
                                {% if u is not none and u != '' %}
                                    <option {% if request.args.get('user', '') == u %}
                                        selected
                                    {% endif %}>{{ u }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group form-group-sm">
                        <input class="form-control" id="synset_id" name="synset_id" placeholder="Synset ID" type="text"
                               value="{{ request.args.get('synset_id', '') }}">
                    </div>
                    <button type="submit" class="btn btn-default btn-sm"><i class="fa fa-search"></i> Search</button>
                {% endcall %}
            </div>
        </div>
        {% if synsets.total == 0 %}
            <h3>No results found</h3>
            <p>Try limiting or removing your search terms.</p>
        {% else %}
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-condensed table-hover table-striped">
                            <thead>
                            <colgroup span="3"></colgroup>
                            <colgroup span="2"></colgroup>
                            <colgroup span="2"></colgroup>
                            <tr>
                                <th colspan="3" class="text-center" scope="colgroup">Operation</th>
                                <th colspan="2" class="text-center" scope="colgroup">Synset</th>
                                <th colspan="1" class="text-center" scope="colgroup">Sense</th>
                            </tr>
                            <tr>
                                <th scope="col" class="col-header">#</th>
                                <th scope="col" class="col-header">Audit Log</th>
                                <th scope="col" class="col-header">Operation</th>
                                <th scope="col" class="col-header">ID</th>
                                <th scope="col" class="col-header">Units</th>
                                <th scope="col" class="col-header">Lemma and variant</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for synset in synsets.items %}
                                {% if synset.operation=='modified' %}
                                    <tr class="info">
                                        {% elif synset.operation=='created' or synset.operation =='attached sense' %}
                                    <tr class="success">
                                        {% elif synset.operation=='removed' or synset.operation =='detached sense' %}
                                    <tr class="danger">
                                {% endif %}
                            <td>{{ synset.id }}</td>
                            <td>
                            <div class="text-center small-log bold-log">
                            {{ synset.user }}
                                </div>
                                <div class="text-center small-log">
                                <time class="short-date"
                                      data-datetime="{{ synset.datetime }}">{{ synset.datetime }}</time>
                                    </div>
                            </td>
                            <td>
                            <div class="text-center">
                                {% if synset.operation=='modified' %}
                                    <span class="label label-info">Modified</span>
                                {% elif synset.operation=='created' %}
                                    <span class="label label-success">Created</span>
                                {% elif synset.operation =='attached sense' %}
                                    <span class="label label-success">Attached Sense</span>
                                {% elif synset.operation=='removed' %}
                                    <span class="label label-danger">Removed</span>
                                {% elif synset.operation =='detached sense' %}
                                    <span class="label label-danger">Detached Sense</span>
                                {% endif %}
                            </div>
                            </td>
                            <td>
                                <a href="{{ url_for('synset.synset_by_id', id=synset.synset_id) }}"> {{ synset.synset_id }}</a>
                            </td>
                            <td>
                                {% if synset.synset_unitstr is not none %}
                                    {{ synset.synset_unitstr }}
                                {% endif %}
                            </td>
                            <td>
                                {% if synset.sense_id is not none %}
                                    <a href="{{ url_for('sense.sense_by_id', id=synset.sense_id) }}" data-toggle="tooltip" title="ID: {{ synset.sense_id }}">{{ synset.lemma }}</a>
                                {% endif %}
                            </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="pull-right">
                        {{ items.paginate(synsets) }}
                    </div>
                </div>
            </div>
            <!-- /.row -->
            </div>
        {% endif %}

{% endblock %}