{% extends 'layouts/app.html' %}
{% import 'macros/items.html' as items %}

{% block title %}Synset{% endblock %}

{% block content %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="page-header"><i class="fa fa-sitemap fa-fw"></i> Synset</h3>
            </div>
        </div>
        <div class="row margin-bottom-15">
            <div class="col-sm-5">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-th-list"></i> Synset Properties
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <tbody>
                                <tr>
                                    <td class="col-sm-3 text-right">Id</td>
                                    <td>{{ synset.id }}</td>
                                </tr>
                                <tr>
                                    <td class="text-right">Definition</td>
                                    <td>{% if synset.definition is not none %} {{ synset.definition }} {% endif %}</td>
                                </tr>
                                <tr>
                                    <td class="text-right">Comment</td>
                                    <td>{% if synset.comment is not none %} {{ synset.comment }} {% endif %}</td>
                                </tr>
                                <tr>
                                    <td class="text-right">Abstract</td>
                                    <td>{{ synset.isabstract }}</td>
                                </tr>
                                <tr>
                                    <td class="text-right">Owner</td>
                                    <td>{{ synset.owner }}</td>
                                </tr>
                                <tr>
                                    <td class="text-right">Units String</td>
                                    <td>{{ synset.unitsstr }}</td>
                                </tr>
                                <tr>
                                    <td class="text-right">Status</td>
                                    <td>
                                        {% if synset is not none %}
                                            <span class="label {{ status[synset.status|string]['tag'] }}">{{ status[synset.status|string]['value'] }}</span>
                                            </td>
                                        {% endif %}
                                </tr>
                                <tr>
                                    <td class="text-right">Status Error Comment</td>
                                    <td>{% if synset.error_comment is not none %}
                                        {{ synset.error_comment }} {% endif %}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-th-list"></i> Synset History
                    </div>
                    <div class="panel-body">
                        {% if synset_history.rowcount == 0 %}
                            <h5 class="text-center">No synset history found</h5>
                        {% else %}
                            <div class="table-responsive">
                                <table class="table table-bordered table-condensed table-hover table-striped">
                                    <thead>
                                    <tr>
                                        <th class="text-center">Audit Log</th>
                                        <th class="text-center">Operation</th>
                                        <th class="text-center">Definition</th>
                                        <th class="text-center">Comment</th>
                                        <th class="text-center">Abstract</th>
                                        <th class="text-center">Owner</th>
                                        <th class="text-center">Units String</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for s in synset_history %}
                                        <tr>
                                                                                    <td>
                                                <div class="text-center small-log bold-log">
                                                {{s[1] }}
                                                </div>
                                                                                       <div class="text-center small-log">
                                                <time class="short-date"
                                                      data-datetime="{{ s[0] }}">{{ s[0] }}</time>
                                            </div>
                                            </td>
                                            <td><div class="text-center">
                                                {% if s[2]=='created' %}
                                                <span class="label label-success">Created</span>
                                            {% elif s[2]=='removed' %}
                                                <span class="label label-danger">Removed</span>
                                            {% elif s[2]=='modified' %}
                                                <span class="label label-info">Modified</span>
                                            {% endif %}
                                            </div></td>
                                            <td>{% if s[3] is not none %} {{ s[3] }} {% endif %}</td>
                                            <td>{% if s[4] is not none %} {{ s[4] }} {% endif %}</td>
                                            <td>{% if s[5] is not none %} {{ s[5] }} {% endif %}</td>
                                            <td>{% if s[6] is not none %} {{ s[6] }} {% endif %}</td>
                                            <td>{% if s[7] is not none %} {{ s[7] }} {% endif %}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-object-group"></i> Senses
                    </div>
                    <div class="panel-body">
                        {% if senses.rowcount == 0 %}
                            <h5 class="text-center">Empty synset</h5>
                        {% else %}
                            <div class="list-group">
                                {% for s in senses %}
                                    <a href="{{ url_for('sense.sense_by_id', id=s[0]) }}" class="list-group-item">
                                        {{ s[1] }}
                                        <span class="pull-right text-muted small"><em>{{ pos[s[2]|string] }}</em>
                                    </span>
                                    </a>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-object-group"></i> Senses History
                    </div>
                    <div class="panel-body">
                        {% if senses_history.rowcount == 0 %}
                            <h5 class="text-center">No sense history found</h5>
                        {% else %}
                            <div class="table-responsive">
                                <table class="table table-bordered table-condensed table-hover table-striped">
                                    <thead>
                                    <tr>
                                        <th class="text-center">Audit Log</th>
                                        <th class="text-center">Operation</th>
                                        <th class="text-center">Sense</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for s in senses_history %}
                                        <tr>
                                            <td>
                                                <div class="text-center small-log bold-log">
                                                {{s[1] }}
                                                </div>
                                                                                       <div class="text-center small-log">
                                                <time class="short-date"
                                                      data-datetime="{{ s[0] }}">{{ s[0] }}</time>
                                            </div>
                                            </td>
                                            <td>
                                                 <div class="text-center">
                                                {% if s[2]=='attached sense' %}
                                                <span class="label label-success">Attached Sense</span>
                                            {% elif s[2]=='detached sense' %}
                                                <span class="label label-danger">Detached Sense</span>
                                            {% endif %}</td>
                                            <td>
                                                {% if s[3] is not none %}
                                                    <a href="{{ url_for('sense.sense_by_id', id=s[3]) }}"> {{ s[4] }}</a>
                                                {% endif %}
                                            </td>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                     </tbody>
                                </table>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-sign-in"></i> Incoming Relations
                    </div>
                    <div class="panel-body">
                        {% if incoming_rel.rowcount == 0 %}
                            <h5 class="text-center">No incoming relations found</h5>
                        {% else %}
                            <div class="table-responsive">
                                <table class="table table-bordered table-condensed table-hover table-striped">
                                    <thead>
                                    <tr>
                                        <th class="text-center">Relation</th>
                                        <th class="text-center">Synset</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for r in incoming_rel %}
                                        <tr>
                                            <td>{{ r[0] }}</td>
                                            <td>
                                                <a href="{{ url_for('synset.synset_by_id', id=r[1]) }}"> {{ r[2] }}</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-sign-in"></i> Incoming Relations History
                    </div>
                    <div class="panel-body">
                        {% if not incoming_history %}
                            <h5 class="text-center">No incoming relations history found</h5>
                        {% else %}
                            <div class="table-responsive">
                                <table class="table table-bordered table-condensed table-hover table-striped">
                                    <thead>
                                    <tr>
                                        <th class="text-center">Audit Log</th>
                                        <th class="text-center">Operation</th>
                                        <th class="text-center">Relation</th>
                                        <th class="text-center">Synset</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for r in incoming_history %}
                                        <tr>
                                             <td>
                                            <div class="text-center small-log bold-log">
                                                {{ r.user }}
                                            </div>
                                            <div class="text-center small-log">
                                                <time class="short-date"
                                                      data-datetime="{{ r.datetime }}">{{ r.datetime }}</time>
                                            </div>
                                            </td>
                                            <td>
                                            <div class="text-center">
                                            {% if r.operation=='created' %}
                                                <span class="label label-success">Created</span>
                                            {% elif r.operation=='removed' %}
                                                <span class="label label-danger">Removed</span>
                                            {% endif %}
                                            </div>
                                            </td>
                                            <td>{{ r.relation_name }}</td>
                                            <td>
                                                {% if r.source_id is not none %}
                                                    <a href="{{ url_for('synset.synset_by_id', id=r.source_id) }}"> {{ r.source_unitstr }}</a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}


                                    </tbody>
                                </table>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-sign-out"></i> Outgoing Relations
                    </div>
                    <div class="panel-body">
                        {% if outgoing_rel.rowcount == 0 %}
                            <h5 class="text-center">No outgoing relations found</h5>
                        {% else %}
                            <div class="table-responsive">
                                <table class="table table-bordered table-condensed table-hover table-striped">
                                    <thead>
                                    <tr>
                                        <th class="text-center">Relation</th>
                                        <th class="text-center">Synset</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for r in outgoing_rel %}
                                        <tr>
                                            <td>{{ r[0] }}</td>
                                            <td>
                                                <a href="{{ url_for('synset.synset_by_id', id=r[1]) }}"> {{ r[2] }}</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-sign-out"></i> Outgoing Relations History
                    </div>
                    <div class="panel-body">
                        {% if not outgoing_history %}
                            <h5 class="text-center">No outgoing relations history found</h5>
                        {% else %}
                            <div class="table-responsive">
                                <table class="table table-bordered table-condensed table-hover table-striped">
                                    <thead>
                                    <tr>
                                        <th class="text-center">Audit Log</th>
                                        <th class="text-center">Operation</th>
                                        <th class="text-center">Relation</th>
                                        <th class="text-center">Synset</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for r in outgoing_history %}
                                        <tr>
                                            <td>
                                            <div class="text-center small-log bold-log">
                                                {{ r.user }}
                                            </div>
                                            <div class="text-center small-log">
                                                <time class="short-date"
                                                      data-datetime="{{ r.datetime }}">{{ r.datetime }}</time>
                                            </div>
                                            </td>
                                            <td>
                                            <div class="text-center">
                                            {% if r.operation=='created' %}
                                                <span class="label label-success">Created</span>
                                            {% elif r.operation=='removed' %}
                                                <span class="label label-danger">Removed</span>
                                            {% endif %}
                                            </div>
                                            </td>
                                            <td>{{ r.relation_name }}</td>
                                            <td>
                                                {% if r.target_id is not none %}
                                                    <a href="{{ url_for('synset.synset_by_id', id=r.target_id) }}"> {{ r.target_unitstr }}</a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}