{% extends 'layouts/app.html' %}
{% import 'macros/items.html' as items %}
{% import 'macros/form.html' as f with context %}

{% block title %}Senses History{% endblock %}

{% block content %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header"><i class="fa fa-sitemap fa-fw"></i> Senses History</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <div class="pull-right">
                    {#{{ items.paginate(senses) }}#}
                </div>
            </div>
        </div>
{#        {% if synsets.total == 0 %}
            <h3>No results found</h3>
            {% if request.args.get('q') %}
                <p>Try limiting or removing your search terms.</p>
            {% else %}
                <p>There are no senses changes present.</p>
            {% endif %}
        {% else %}#}
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                            <tr>
                                <th class="col-header">#</th>
                                <th class="col-header">Operation Date</th>
                                <th class="col-header">User</th>
                                <th class="col-header">Action</th>
                                <th class="col-header">Key</th>
                                <th class="col-header">Attributes</th>
                            </tr>
                            </thead>
                            <tbody>
                           {# {% for emotion in emotion.items %}
                                <tr>
#}{#                                    <td>{{ user.id }}</td>
                                    <td>{{ user.fullname() }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.role }}</td>#}{#
                                </tr>
                            {% endfor %}#}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="pull-right">
                    {#    {{ items.paginate(senses) }}#}
                    </div>
                </div>
            </div>
            <!-- /.row -->
            </div>
        {#{% endif %}#}

{% endblock %}