{% extends 'layouts/app.html' %}
{% import 'macros/items.html' as items %}
{% import 'macros/form.html' as f with context %}

{% block title %}Sense Relations History{% endblock %}

{% block content %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"><i class="fa fa-object-group fa-fw"></i> Sense Relations History</h3>
            </div>
        </div>
        <div class="row margin-bottom-15">
            <div class="col-sm-12">
                {% call f.form_tag('sense.senses_relations_history', css_class='form-inline', method='get') %}

                    <div class="input-group input-group-sm date" id='date_from'>
                        <input id="date_from" name="date_from" type="text" class="form-control" placeholder="Changes From" value="{{ request.args.get('date_from', '') }}">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                    </div>
                    <div class="input-group input-group-sm date" id='date_to' >
                        <input id="date_to" name="date_to" type="text" class="form-control" placeholder="Changes To" value="{{ request.args.get('date_to', '') }}">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                    </div>
                    <script type="text/javascript">
                        $(function () {
                            $('#date_from').datetimepicker({
                                format: 'YYYY-MM-DD'
                            });
                             $('#date_to').datetimepicker({
                                format: 'YYYY-MM-DD'
                            });
                        });
                    </script>
                    <div class="form-group form-group-sm">
                        <select class="form-control" id="users" name="user">
                         {%  if request.args.get('user', '') == '' %}
                            <option value="" disabled selected>Select User</option>
                         {% else %}
                                <option value="">Select User</option>
                         {% endif %}
                         {%  for u in users %}
                             {%  if u is not none and u != '' %}
                             <option {%  if request.args.get('user', '') == u %}
                                 selected
                              {%  endif %}>{{ u }}</option>
                             {% endif %}
                         {% endfor %}
                        </select>
                    </div>
                     <div class="form-group form-group-sm">
                        <select class="form-control" id="relation_type" name="relation_type">
                            {%  if request.args.get('relation_type', '') == '' %}
                                <option value="" disabled selected>Select Relation Type</option>
                            {% else %}
                                <option value="">Select Relation Type</option>
                            {% endif %}
                            {%  for r in relations %}
                                <option value="{{ r[0] }}"
                               {%  if request.args.get('relation_type', '') ==  r[0]|string %}
                                  selected
                               {%  endif %}>{{ r[1] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group form-group-sm">
                        <input class="form-control" id="sense_id" name="sense_id" placeholder="Sense ID" type="text" value="{{ request.args.get('sense_id', '') }}">
                    </div>
                    <button type="submit" class="btn btn-default btn-sm"><i class="fa fa-search"></i> Search</button>
                {% endcall %}
            </div>
        </div>
        {% if history.total == 0 %}
            <h3>No results found</h3>
            <p>Try limiting or removing your search terms.</p>
        {% else %}
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-condensed table-hover table-striped">
                            <thead>
                            <colgroup span="3"></colgroup>
                            <colgroup span="2"></colgroup>
                            <colgroup span="2"></colgroup>
                            <colgroup span="2"></colgroup>
                            <tr>
                                <th colspan="3" class="text-center" scope="colgroup">Operation</th>
                                <th colspan="2" class="text-center" scope="colgroup">Source Sense</th>
                                <th colspan="2" class="text-center" scope="colgroup">Relation</th>
                                <th colspan="2" class="text-center" scope="colgroup">Target Sense</th>
                            </tr>
                            <tr>
                                <th scope="col" class="col-header">#</th>
                                <th scope="col" class="col-header">Audit Log</th>
                                <th scope="col" class="col-header">Operation</th>
                                <th scope="col" class="col-header">ID</th>
                                <th scope="col" class="col-header">Unitstr</th>
                                <th scope="col" class="col-header">ID</th>
                                <th scope="col" class="col-header">Name</th>
                                <th scope="col" class="col-header">ID</th>
                                <th scope="col" class="col-header">Unitstr</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for r in history.items %}
                                 {% if r.operation=='created' %}
                                    <tr class="success">
                                 {% elif r.operation=='removed' %}
                                    <tr class="danger">
                                {% endif %}
                            <td>{{ r.id }}</td>
                            <td>
                                <div class="text-center small-log bold-log">
                                {{ r.user }}
                                    </div>
                                <div class="text-center small-log">
                                <time class="short-date"
                                      data-datetime="{{ r.datetime }}">{{ r.datetime }}</time>
                                    </div>
                            </td>
                            <td><div class="text-center">
                                {% if r.operation=='created' %}
                                    <span class="label label-success">Created</span>
                                {% elif r.operation=='removed' %}
                                    <span class="label label-danger">Removed</span>
                                {% endif %}
                            </div>
                            </td>
                            <td> {% if r.source_id is not none %}
                                    <a href="{{ url_for('sense.sense_by_id', id=r.source_id) }}">{{ r.source_id }}</a>
                                {% endif %}</td>
                            <td>
                                 {% if r.source_unitstr is not none %}
                                    {{ r.source_unitstr }}
                                  {% endif %}
                            </td>
                                <td>{{ r.relation_id }}</td>
                                <td>{{ r.relation_name }}</td>
                            <td>
                               {% if r.target_id is not none %}
                                    <a href="{{ url_for('sense.sense_by_id', id=r.target_id) }}">{{ r.target_id }}</a>
                                {% endif %}
                            </td>
                            <td>
                                {% if r.target_unitstr is not none %}
                                    {{ r.target_unitstr }}
                                {% endif %}
                            </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="pull-right">
                        {{ items.paginate(history) }}
                    </div>
                </div>
            </div>
            <!-- /.row -->
            </div>
        {% endif %}

{% endblock %}