{% extends 'layouts/app.html' %}
{% import 'macros/items.html' as items %}
{% import 'macros/form.html' as f with context %}

{% block title %}Senses History{% endblock %}

{% block content %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="page-header"><i class="fa fa-object-group fa-fw"></i> Sense History</h3>
            </div>
        </div>
        <div class="row margin-bottom-15">
            <div class="col-sm-12">
                {% call f.form_tag('sense.senses_history', css_class='form-inline', method='get') %}

                    <div class="input-group input-group-sm date" id='date_from'>
                        <input id="date_from" name="date_from" type="text" class="form-control"
                               placeholder="Changes From" value="{{ request.args.get('date_from', '') }}">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                    </div>
                    <div class="input-group input-group-sm date" id='date_to'>
                        <input id="date_to" name="date_to" type="text" class="form-control" placeholder="Changes To"
                               value="{{ request.args.get('date_to', '') }}">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                    </div>
                    <script type="text/javascript">
                        $(function () {
                            $('#date_from').datetimepicker({
                                format: 'YYYY-MM-DD'
                            });
                            $('#date_to').datetimepicker({
                                format: 'YYYY-MM-DD'
                            });
                        });
                    </script>
                    <div class="form-group form-group-sm">
                        <select class="form-control" id="users" name="user">
                        <option value=""  {% if request.args.get('user', '') == '' %}selected{% endif %}>Select User</option>
                            {% for u in users %}
                                {% if u is not none and u != '' %}
                                    <option {% if request.args.get('user', '') == u %}
                                        selected
                                    {% endif %}>{{ u }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                     <div class="form-group form-group-sm">
                        <select class="form-control" id="pos" name="pos">
                            <option value=""  {% if request.args.get('pos', '') == '' %}selected{% endif %}>Select Part Of Speech</option>
                            {% for k, v in pos.items() %}
                             {% if k != 'None' %}
                            <option value={{ k }} {% if request.args.get('pos', '') == k  %}selected{% endif %}>{{ v }}</option>
                             {% endif %}
                            {%  endfor %}
                        </select>
                    </div>
                    <div class="form-group form-group-sm">
                        <select class="form-control" id="status" name="status">
                            <option value=""  {% if request.args.get('status', '') == '' %}selected{% endif %}>Select Status</option>
                            {% for k, v in status.items() %}
                             {% if k != 'None' %}
                                <option value={{ k }} {% if request.args.get('status', '') == k  %}selected{% endif %}>{{ v['value'] }}</option>
                             {% endif %}
                            {%  endfor %}
                        </select>
                    </div>
                    <div class="form-group form-group-sm">
                        <input class="form-control" id="sense_id" name="sense_id" placeholder="Sense ID" type="text"
                               value="{{ request.args.get('sense_id', '') }}">
                    </div>
                    <button type="submit" class="btn btn-default btn-sm"><i class="fa fa-search"></i> Search</button>
                {% endcall %}
            </div>
        </div>
        {% if sense_history.total == 0 %}
            <h3>No results found</h3>
            <p>Try limiting or removing your search terms.</p>
        {% else %}
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-condensed table-hover table-striped">
                            <thead>
                            <tr>
                                <th rowspan="2" class="col-header text-center">Audit Log</th>
                                <th rowspan="2" class="col-header text-center">Operation</th>
                                <th rowspan="2" colspan="2" class="col-header text-center">Key</th>
                                <th colspan="7" class="text-center" scope="colgroup">Attributes</th>
                            </tr>
                            <tr>
                                <th class="col-header">lemma</th>
                                <th class="col-header">variant</th>
                                <th class="col-header">domain</th>
                                <th class="col-header">pos</th>
                                <th class="col-header">status</th>
                                <th class="col-header">comment</th>
                                <th class="col-header">owner</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for sh in sense_history.items %}
                                {% if sh.operation=='modified' %}
                                    {% set rowsp = 2 %}
                                    <tr class="info">
                                {% elif sh.operation=='created' %}
                                        {% set rowsp = 1 %}
                                    <tr class="success">
                                {% elif sh.operation=='removed' %}
                                        {% set rowsp = 1 %}
                                    <tr class="danger">
                                {% endif %}
                              <td rowspan="{{ rowsp }}">
                                 <div class="text-center small-log bold-log">
                                 {{ sh.user }}
                                 </div>
                                    <div class="text-center small-log">
                                    <time class="short-date"
                                      data-datetime="{{ sh.datetime }}">{{ sh.datetime }}</time>
                                    </div>
                                </td>
                            <td rowspan="{{ rowsp }}">
                            <div class="text-center">
                                {% if sh.operation=='modified' %}
                                    <span class="label label-info">Modified</span>
                                {% elif sh.operation=='created' %}
                                    <span class="label label-success">Created</span>
                                {% elif sh.operation=='removed' %}
                                    <span class="label label-danger">Removed</span>
                                {% endif %}
                            </div>
                            </td>
                            <td rowspan="{{ rowsp }}">
                                {% if  sh.key_id is not none %}
                                    <a href="{{ url_for('sense.sense_by_id', id=sh.key_id) }}"> {{ sh.key_id }}</a>
                                {% endif %}
                            </td>
                            <td rowspan="{{ rowsp }}">
                                {{ sh.key_lemma }}
                            </td>
                             {%  if rowsp == 2 %}
                                 {% set st_bg ="style=background-color:#EEE"  %}
                             {%  else %}
                                 {% set st_bg=''  %}
                             {% endif %}

                            <td {{ st_bg }}>{% if  sh.u1_lemma is not none %} {{ sh.u1_lemma }} {% endif %}</td>
                            <td {{ st_bg }}>{% if  sh.u1_variant is not none %} {{ sh.u1_variant }} {% endif %}</td>
                            <td {{ st_bg }}>{% if  sh.u1_domain is not none %} {{ domain[sh.u1_domain|string] }} {% endif %}</td>
                            <td {{ st_bg }}>{% if  sh.u1_pos is not none %} <span class="label label-default">{{ pos[sh.u1_pos|string] }} </span> {% endif %}</td>
                            <td {{ st_bg }}>{% if  sh.u1_status is not none %} <span class="label {{ status[sh.u1_status|string]['tag'] }}">{{ status[sh.u1_status|string]['value']}}</span> {% endif %}</td>
                            <td {{ st_bg }}>{% if  sh.u1_comment is not none %} {{ sh.u1_comment }} {% endif %}</td>
                            <td {{ st_bg }}>{% if  sh.u1_owner is not none %} {{ sh.u1_owner }} {% endif %}</td>
                            </tr>
                                {% if rowsp == 2 %}
                                    <tr>
                                        <td class="info">{% if  sh.u2_lemma is not none %} {{ sh.u2_lemma }} {% endif %}</td>
                                        <td class="info">{% if  sh.u2_variant is not none %} {{ sh.u2_variant }} {% endif %}</td>
                                        <td class="info">{% if  sh.u2_domain is not none %} {{ domain[sh.u2_domain] }} {% endif %}</td>
                                        <td class="info">{% if  sh.u2_pos is not none %} <span class="label label-default">{{ pos[sh.u2_pos|string] }} {% endif %}</td>
                                        <td class="info">{% if  sh.u2_status is not none %} <span class="label {{ status[sh.u2_status|string]['tag'] }}">{{ status[sh.u2_status|string]['value']}}</span> {% endif %}</td>
                                        <td class="info">{% if  sh.u2_comment is not none %} {{ sh.u2_comment }} {% endif %}</td>
                                        <td class="info">{% if  sh.u2_owner is not none %} {{ sh.u2_owner }} {% endif %}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="pull-right">
                        {{ items.paginate(sense_history) }}
                    </div>
                </div>
            </div>
            <!-- /.row -->
            </div>
        {% endif %}
{% endblock %}